.textarea-label-group {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.textarea-label {
  color: #000;
}
.textarea-required {
  color: #ff544b;
}
.textarea-input {
  width: 100%;
  resize: none;
  height: 80px;
  padding: 13px 16px;
  align-self: stretch;
  border-radius: 3px;
  border: 1px solid #bcc0c8;
  background: #fff;
  flex: 1 0 0;
  align-self: stretch;
  color: #292929;

  margin: 0;
}
